* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 2000px;
}

.filterTab {
    display: flex;
    background-color: #efefef;
    padding: 5px;
    gap: 5px;
}

.filter {
    width: 50%;
}

.filterButton {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.droppy {
    margin: 0 auto;
    height: 50px;
    width: 100%;
    border: solid 1px #b4b4b4;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: none;
    color: black;
}

.row {
    display: flex;
    font-size: 0.8rem;
    padding: 5px;
}

.headRow {
    position: sticky;
    top: 0;
    background-color: beige;
}

.typ,
.diameter,
.laenge,
.head,
.tool,
.material,
.location {
    overflow: hidden;
    font-size: 1rem;
}

.typ {
    width: 20%;
}

.diameter {
    width: 10%;
}

.laenge {
    width: 15%;
}

.head {
    width: 25%;
}

.tool {
    width: 30%;
}

.material {
    display: none;
}

.location {
    display: none;
}

button {
    width: 50px;
    height: 50px
}
